<p> <%= @article.title %> </p>
<p> <%= @article.content %> </p>

<div>
  <%= link_to "Delete",
      article_path(@article),
      method: :delete,
      data: { confirm: 'Are you sure?' },
      class: 'btn btn-primary' %>
  <%= link_to "Edit", :edit_article, class: 'btn btn-primary' %>
  <%= link_to "Index", :articles, class: 'btn btn-primary' %>
</div>


